<!DOCTYPE html>
<html>
<head>
    <title>留言板</title>
</head>
<body>
    <h1>留言板</h1>
    <div>
        <h2>留言列表</h2>
        <ul>
            {% for message in messages %}
            <li>{{ message['timestamp'] }}: {{ message['username'] }}-{{ message['content'] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>添加留言</h2>
        <form method="POST">
            <textarea name="message" required></textarea>
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>
